table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  tr {
    color: #000000;

    &.inactive-item {
      color: #C0C0C0;
    }
  }

  button {
    min-width: 200px;
  }
}


input[type=text] {
  padding: 6px 10px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-sizing: border-box;
}

.table-status-field h5 {text-align: center;}
